.vscode

# Data files (exclude large files, allow small examples)
docs/data/
!docs/data/*_small.csv
!docs/data/*_small.parquet

# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/
